openapi: 3.0.0
info:
  title: Specified API
  description: >-
    Transform standards documents into machine-readable requirements.
    
    ***
    
    ## API Reference
  
    The Specified API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API has predictable resource-oriented URLs, accepts [form-encoded](https://en.wikipedia.org/wiki/POST_(HTTP)#Use_for_submitting_web_forms) request bodies, returns [JSON-encoded](http://www.json.org/) responses, and uses standard HTTP response codes, authentication, and verbs.

    ***

    ## API Authentication
    
    The Specified API uses [API keys](/docs/keys) to authenticate requests.
    Authentication to the API is performed via HTTP Basic Auth. Provide your APP ID and API key as the basic auth username value. You do not need to provide a password. All API requests must be made over HTTPS. Calls made over plain HTTP will fail or calls without authentication will fail.
      
      
      To request API keys [contact support](mailto:support@specified.ai).
      
      
  termsOfService: https://specified.ai/terms-of-service.html
  contact:
    name: Specified.ai
    url: https://specfied.ai
    email: support@specified.ai
  version: '1.0'
servers:
  - url: https://api.specified.ai/v1
    description: Main (production) server
  - url: https://staging-api.specified.ai
    description: Internal staging server for testing

paths:
  /text2req:
    post:
      summary: Convert text to structured requirements.
      description: Convert text to a list of structured requirements.
      requestBody:
        description: Text written in natural language possibly containing one or more requirements.
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':    # status code
          description: A JSON array with structured requirements.
          content:
            application/json:
              schema: 
                type: array
                items: 
                  #type: string
                  #example: "Lorem ipsum dolor amet"
                  $ref: '#/components/schemas/Requirements'
        '404':
          description: Error
  /req2ld:
    post:
      summary: Convert structured requirements to Linked Data.
      description: Convert structured requirements to Linked Data using the SPEC ontology.
      requestBody:
        description: A JSON array with structured requirements.
        required: true
        content:
          application/json:
            schema: 
              type: array
              items: 
                type: string
                example: Lorem ipsum dolor amet.
      responses:
        '200':
          description: The RDF data of the requirements.
          content:
            application/turtle:
              schema:
                $ref: '#/components/schemas/Requirements'
            application/xml:
              schema:
                $ref: '#/components/schemas/Requirements'
            application/json-ld:
              schema:
                $ref: '#/components/schemas/Requirements'
        '404':
          description: Error
  
  /std2req:
    post:
      summary: Convert a standards document to structured requirements.
      description: Convert an XML document that uses the ANSI/NISO Z39.102-2017 Standards Tag Suite (STS) to structured requirements.
      requestBody:
        content:
          application/xml:
            schema:
              type: string
              format: binary
      responses:
        '200':    # status code
          description: A JSON array with structured requirements.
          content:
            application/json:
              schema: 
                type: array
                items:
                  $ref: '#/components/schemas/Requirements'
        '404':
          description: Error
                  
  /std2ld:
    post:
      summary: Convert a standards document to Linked Data.
      description: Convenrt an XML document that uses the ANSI/NISO Z39.102-2017 Standards Tag Suite (STS) to requirements as Linked Data using the SPEC ontology.
      requestBody:
        content:
          application/xml:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: The RDF data of the requirements.
          content:
            application/turtle:
              schema:
                $ref: '#/components/schemas/Requirements'
            application/xml:
              schema:
                $ref: '#/components/schemas/Requirements'
            application/json-ld:
              schema:
                $ref: '#/components/schemas/Requirements'
        '404':
          description: Error
    
components:
  schemas:
    Requirements:
      required:
        - sentence
      type: object
      properties:
        id:
          type: string
          format: uuid  
        sentence:
          type: string
          example: Lorem impsum dolor amet.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
    appId:
      type: apiKey
      in: header
      name: X-APP-ID
security:
  - apiKey: []
    appId:  []
