openapi: 3.0.0
info:
  title: Specified API
  description: >-
    Transform standards documents into machine-readable requirements.
    
    ***
    
    ## API Reference
  
    The Specified API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API has predictable resource-oriented URLs, accepts [form-encoded](https://en.wikipedia.org/wiki/POST_(HTTP)#Use_for_submitting_web_forms) request bodies, returns [JSON-encoded](http://www.json.org/) responses, and uses standard HTTP response codes, authentication, and verbs.

    ***

    ## API Authentication
    
    The Specified API uses [API keys](/docs/keys) to authenticate requests.
    Authentication to the API is performed via HTTP Basic Auth. Provide your APP ID and API key as the basic auth username value. You do not need to provide a password. All API requests must be made over HTTPS. Calls made over plain HTTP will fail or calls without authentication will fail.
      
      
      To request API keys [contact support](mailto:support@specified.ai).
      
      
  termsOfService: https://specified.ai/terms-of-service.html
  contact:
    name: Specified.ai
    url: https://specfied.ai
    email: support@specified.ai
  version: '1.0'
servers:
  - url: https://api.specified.ai/v1
    description: Main (production) server
  - url: https://staging-api.specified.ai
    description: Internal staging server for testing

paths:
  '/concepts/tag':
    post:
      summary: Hyperlink to concepts in a thesaurus
      description: Takes a string of text, a thesaurus identifier, and a language code, and tags concepts in the text with hyperlinks to the thesaurus.
      operationId: replaceHyperlinks
      requestBody:
        description: Input text, thesaurus identifier, and language code
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceHyperlinksRequest'
      responses:
        '200':
          description: The modified text with hyperlinks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplaceHyperlinksResponse'
        '400':
          description: Invalid input provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message explaining the invalid input.
                    example: "Invalid thesaurus URI or language code."
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message describing what went wrong.
                    example: "Error processing the text."

components:
  schemas:
    ReplaceHyperlinksRequest:
      type: object
      properties:
        text:
          type: string
          description: Input text.
          example: "The quick brown fox jumps over the lazy dog."
        uri:
          type: string
          description: Identifier (URI) of the thesaurus.
        language:
          type: string
          description: Language code to process the text (e.g., 'en' for English, 'nl' for Dutch).          
      required:
        - text
        - uri
        - language

    ReplaceHyperlinksResponse:
      type: object
      properties:
        linkedText:
          type: string
          example: '<a href="https://example.com/word/brown">brown</a> fox jumps over the <a href="https://example.com/word/dog">dog</a>.'
    
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
    appId:
      type: apiKey
      in: header
      name: X-APP-ID
security:
  - apiKey: []
    appId:  []
